* {
    font-family: 'Courier New', Courier, monospace;
}

.headline {
    color:rgb(5, 71, 97);
    background-color: rgb(206, 176, 137, 0.3);
}

#ingredients {
    background-color: rgba(255, 251, 0, 0.5);
}

#ingredients .headline {
    background-color: transparent;
    color: black;
}